CorD 				0(clustering) or 1(density analysis)
TotalMemSize in bytes 		(5% of dataset size)
TotalBufferSize in bytes	(5% of TotalMemSize)
TotalQueueSize in bytes		(5% of TotalMemSize)
TotalOutlierTreeSize in bytes	(5% of TotalMemSize)

####The following set of parameters should be repeated for each projection
####Currently, the rg2d.proj file has only one projection. However, it is 
####to build several trees simultaneously. One tree per line in the *.proj file.
####From now on, dimensionality refers to the number of terms in the corresponding
####line on the .proj file.

WMflag 				0 or 1
W vector 			(relevant to dimension; #terms=dimensionality)	// weighting vector.
M vector 			(relevant to dimension; #terms=dimensionality)	// moving vector.

PageSize in bytes		(1024)

BDtype				0,1,2,3,4 (2)	// D0-D4:phase 1 and 2 distance type.
Ftype				0,1 (0)	 (0 for Diameter)	// fitness type.
Phase1Scheme:			0(1A),1(1B) 
RebuiltAlg:			0,1,2 (0) (0 - scanleaf, 1-compactTree, 2-shifttree).
StatTimes			1,2,3,4,... (3)
NoiseRate			0..1 (0.25)

Range				(2000)

CFDistr				0(Uniform),1(Normal)
H				(0)
Bars vector			(relevant to dimension; #terms=dimensionality)

K						number of clusters.
InitFt				(0)	(initial fitness threshold).
Ft				(0)		(ending fitness threshold).
Gtype				(1)
GDtype				2,4 (2)
Qtype				0,1 (0)
RefineAlg			0,1 (1)
NoiseFlag			0,1 (0)
MaxRPass			(1)
